
  <h2>Add New Question</h2>
  <p>Service: <%= @quiz.service_type %></p>

  <%= form_for @question, url: {action: "create"} do |f| %>

      <%= f.hidden_field :quiz_id, :value => @quiz.id %>

      <p><%= f.text_area :text, :size => "60x8", :placeholder => "Enter question text" %></p>

      <%= f.submit "Add Question", :class => "button" %>

  <% end %>

