<h2>Quiz Type: <%= @quiz.service_type %></h2>
<hr>

<% if @questions %>
  <% @questions.each_with_index do |question, index| %>
    <h4><%= index + 1 %>. <%= question.text.capitalize %></h4>

    <% question.answers.each_with_index do |answer, index| %>
      <% if answer.is_correct %>
        <p>Answer #<%= index + 1 %>: <span class="correct"><%= answer.text.capitalize %> <small>(correct)</small></span></p>
      <% else %>
        <p>Answer #<%= index + 1 %>: <span class="incorrect"><%= answer.text.capitalize %></span></p>
      <% end %>
    <% end %>


    <p><%= link_to "Add Answer", new_quiz_question_answer_path(@quiz, question) %><p>


  <% end %>
<% end %>

<br>
<hr>
<br>

<%= link_to new_quiz_question_path(@quiz) do %>
  <button class="button">Add Question</button>
<% end %>

<br><br>
