Quiz Type: <%= @quiz.service_type %><br>
Quiz ID: <%= @quiz.id %><br>

<br>
<hr>
<br>

<% if @questions %>
  <% @questions.each_with_index do |question, index| %>
    <b><%= index + 1 %>. <%= question.text.capitalize %></b>

    <br>

    <% question.answers.each_with_index do |answer, index| %>
      <% if answer.is_correct %>
        Answer #<%= index + 1 %>: <span class="correct"><%= answer.text.capitalize %></span><br>
      <% else %>
        Answer #<%= index + 1 %>: <span class="incorrect"><%= answer.text.capitalize %></span><br>
      <% end %>
    <% end %>


    <%= link_to "Add Answer", new_quiz_question_answer_path(@quiz, question) %>

    <br><br>

  <% end %>
<% end %>

<br>
<hr>
<br>

<%= link_to "Add Question", new_quiz_question_path(@quiz) %>
