<h2><%= @quiz.service_type %>: Add New Answer</h2>
<p><b>Question:</b> <%= @question.text %></p>


<%= form_for @answer, url: {action: "create"} do |f| %>

    <%= f.hidden_field :question_id, :value => @question.id %>


    <p><%= f.text_area :text, :placeholder => "Enter answer text" %></p>

    <%= f.check_box :is_correct %>
    <%= f.label "This is the correct answer" %>

    <br>
    <br>

    <%= f.submit "Add Answer", :class => "button" %>

<% end %>
